.content {
    grid-area: content;
    background-color: aquamarine;
    padding: 10px;
}

.item {
    color: darkmagenta;
}

.about {
    display: flex;
}

.avatar {
    max-width: 200px;
    height: auto;
}