.usersField {
    display: flex;
    flex-wrap: wrap;
}

.userItem {
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 3px solid cornflowerblue;
    border-radius: 5px;
    max-width: 305px;
    min-width: 305px;
    margin: 10px;
}

.followed {
    background-color: lightgreen;
}

.about {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.statusBar {
    align-self: end;
}


.userAvatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.btn {
    display: inline-block;
    align-self: start;
}

.selectedPage {
    font-weight: 700;
}

.pagination {
    margin: 10px;
}