.usersField {
    display: flex;
    flex-wrap: wrap;
}

.userItem {
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border:3px solid cornflowerblue;
    border-radius: 5px;
    max-width: 200px;
    min-width: 200px;
    margin: 10px;
}

.followed {
    background-color: lightgreen;
}

.about {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.statusBar {
    align-self: end;
}

.location {
    font-size: 10px;
    opacity: 0.7;
    align-self: center;
}