.header {
    grid-area: header;
    background-color: darkslategrey;
    padding: 10px;
    display: flex;
    border-radius: 20px;
}

.header img {
    max-width: 70px;
}

.headerLinks {
    margin: 0 20px;
}

a {
    color: white;
}