.sidebar {
    grid-area: nav;
    background-color: cornflowerblue;
    padding: 10px;
    border-radius: 20px;
    width: 230px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    font-weight: 800;
}


.friends {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.friendsList {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.friend {
    text-align: center;
    font-size: 12px;
    width: 70px;

}

.friend img {
    border-radius: 50%;
    border: 1px solid;
    width: 70px;
    height: 70px;
    display: block;
}

