.item {
    color: darkmagenta;
}

.pageImg {
    max-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.descriptionBlock {
    display: flex;
    padding: 10px;
}

.avatar {
    max-width: 200px;
    height: auto;
}

